*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
:root{
    --primary:white;
    --secondary:#F36C3F;
    --black:#000000

}

/* .header-section starts*/
.header-section .menu p{
    font-weight: 500;
}
.header-section .menu p:hover{
    font-weight: 500;
    color: var(--secondary);
    cursor: pointer;
}
.header-section button{
    background-color: var(--secondary);
    border: none;
    color: var(--primary);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
}


/* .header-section ends*/

/* hero-section-starts */
.hero-section .hero-txt-main{
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    color: var(--black);
}
.hero-section button{
    background-color: var(--primary);
    border-radius: 20px;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:1px solid rgb(114, 113, 113);

}
.hero-section button:hover{
    background-color: var(--primary);
    border-radius: 20px;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:1px solid var(--secondary);
    color: var(--secondary);

}

/* hero-section-ends */

/* .slider-section-start */
.sider-section img{
    border-radius: 20px;
    height: 90%;
}
.carousel-indicators button{
   
    
    background-color: #F36C3F
}
.carousel-caption{
    margin-bottom: 200px;
}
.carousel-caption  button{
    background-color: transparent;
    color: var(--primary);
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 1.5s

}
.carousel-caption  button:hover{
    background-color: transparent;
    color: var(--primary);
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    transform: scale(1.1)

}

/* .slider-section-ends */

/* .tabs-section-starts */
.btn-tab{
    background-color: var(--primary);
    border: 1px solid #F36C3F4D;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    color: gray;
    
}
.btn-tab:hover{
    background-color: var(--secondary);
    border: 1px solid #F36C3F4D;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    color:var(--primary);
    
}

/* <!-- .tab-view-section-starts --> */
.tab-view img{
    border-radius: 15px;
    height: 90%;
    width: 100%;

}
.tab-view button{
    background-color: var(--primary);
    border-radius: 20px;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:1px solid rgb(114, 113, 113);

}
.tab-view button:hover{
    background-color: var(--primary);
    border-radius: 20px;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:1px solid var(--secondary);
    color: var(--secondary);

}

/* .brand-section start */
.brand-section img{
    width: 90%;
    height: 90px;
}

/* .brand-section ends*/

/* .<!-- about-us-section --> */
.about-section .box-side{
    background-color: var(--secondary);
    width: 50%;
    height: 600px;
}
.about-section .box-side img{
    height: 550px;
    margin-left: 40%;
    margin-top: 20px;

}
.about-content .head-txt{
    color: var(--secondary);

}
.count-section h2{
    color: var(--secondary);
    font-size: 50px;
    font-weight: 500;

}
 
/* .<!-- about-us-section ends--> */

/* .offer-section */
.offer-section p{
    color: var(--secondary);
}
.box img{
    height: 200px;
}
.box-big img{
    height: 600px;
    width: 100vw;
}
.img-grid{
    width: 100%;
    height: 100%;
}
.grid-section .row .col-md-4{
    padding-right:0px;
    padding-left:0px;
}
.grid-section .row .col-md-8{
    padding-right:0px;
    padding-left:0px;
}
.grid-section .container-fluid{
    --bs-gutter-x: 0px;
 
}
/* .offer-section ends*/

/* .testimonial-section starts */
.testimonial-section .img-top{

display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
margin-top: -50px;
}

/* .testimonial-section ends */


/* footer-section-starts */
.footer-section{
    background-color: black;
    padding-bottom: 20px;
    
}
.footer-section p{
    color: rgb(126, 125, 125);
    font-size: 13px;
}
.footer-section span{
    color: var(--secondary);
}
.foot-arrow-img{
    width: 10%;
}
.input{
    width: 100%; 
        position: relative; 
        border: 1px solid var(--secondary);
    background-color: transparent;
    border-radius: 20px;
   padding: 2px;
    height: 35px;
}
.sub-input{
    background-color: transparent;
    border: none;
    
}
.input-btn{
    position: absolute; 
    background-color: var(--secondary);
    color: var(--primary);
    width: 48%;
    height: 30px;
    border: none;
    border-radius: 20px;
}
.btn-ornge{
    margin-top: 100px;
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}






/* footer-section-ends */