* {
    margin: 0;
    padding: 0;
}

#preloader {
    background: rgb(255, 255, 255) url('Assets/orange_circles.gif') no-repeat center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
    --primary: white;
    --secondary: #F36C3F;
    --black: #000000
}

/* header fixed */

#navbar-header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 4;
    top: -120px;
    width: 100vw;
    height: 115px;
    display: block;
    border-bottom: var(--thirdcolor) solid 2px;
    transition: top 0.3s;
    box-shadow: 1px 1px 6px 0.5px rgb(172 169 169);

}

/* mobile-nav */
.mobile-nav-wrapper {

    display: none;
    position: fixed;
    width: 100vw;
    left: 0;
    right: 0;
    z-index: 4;
    background: linear-gradient(to bottom, transparent, var(--secondary));
    height: 100vh;
    transition: top 0.3s;
    border-bottom: 1px solid var(--secondary);
}

.mobile-nav-wrappers {
    margin-top: -5px;
    display: none;
    position: fixed;
    width: 100vw;
    left: 0;
    right: 0;
    z-index: 4;
    background: linear-gradient(to bottom, transparent, var(--secondary));
    height: 100vh;
    transition: top 0.3s;
}

.mobile-nav {
    display: flex;
    flex-flow: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    border-bottom: var(---eighth-color) solid 3px;
    border-left: var(---eighth-color) solid 3px;
    border-right: var(---eighth-color) solid 3px;
    border-top: var(---eighth-color) solid 3px;
    font-size: 14px;
    padding: 1rem;
    border-radius: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.mobile-nav a {
    font-weight: 600;
    color: var(---seventh-color);
    text-decoration: none;
    margin: 1rem 0;
    font-size: 14px;
}

#close-btn {
    display: none;
}

#close-btns {
    display: none;
}

.menu-mob {

    margin-top: -40px;
    display: block;
    text-align: right;
    color: var(--secondary);
    font-size: 27px;
    margin-right: 10px;



}




.menu-mob .fa {
    padding-bottom: 200px;
}

.mobile-nav a:hover {
    color: var(--secondary);
}






/* .header-section starts*/
.header-section .menu p {
    font-weight: 500;
}

.header-section .menu p:hover {
    font-weight: 500;
    color: var(--secondary);
    cursor: pointer;
}

.header-section button {
    background-color: var(--secondary);
    border: none;
    color: var(--primary);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
}


/* .header-section ends*/

/* hero-section-starts */
.hero-section .hero-txt-main {
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    color: var(--black);
}

.hero-section button {
    background-color: var(--primary);
    border-radius: 20px;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(114, 113, 113);

}

.hero-section button:hover {
    background-color: var(--primary);
    border-radius: 20px;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid var(--secondary);
    color: var(--secondary);

}

/* hero-section-ends */

/* .slider-section-start */
.sider-section img {
    border-radius: 20px;
    height: 90%;
}

.carousel-indicators button {


    background-color: #F36C3F
}

.carousel-caption {
    margin-bottom: 200px;
}

.carousel-caption button {
    background-color: transparent;
    color: var(--primary);
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 1.5s
}

.carousel-caption button:hover {
    background-color: transparent;
    color: var(--primary);
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    transform: scale(1.1)
}

/* .slider-section-ends */

/* .tabs-section-starts */
.btn-tab {
    background-color: var(--primary);
    border: 1px solid #F36C3F4D;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    color: gray;

}

.btn-tab:hover {
    background-color: var(--secondary);
    border: 1px solid #F36C3F4D;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    color: var(--primary);

}

/* <!-- .tab-view-section-starts --> */
.tab-view img {
    border-radius: 15px;
    height: 90%;
    width: 100%;

}

.tab-view button {
    background-color: var(--primary);
    border-radius: 20px;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(114, 113, 113);

}

.tab-view button:hover {
    background-color: var(--primary);
    border-radius: 20px;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid var(--secondary);
    color: var(--secondary);

}

/* .brand-section start */
.brand-section img {
    width: 90%;
    height: 90px;
}

/* .brand-section ends*/

/* .<!-- about-us-section --> */
.about-section .box-side {
    background-color: var(--secondary);
    width: 50%;
    height: 600px;
}

.about-section .box-side img {
    height: 550px;
    margin-left: 40%;
    margin-top: 20px;

}

.about-content .head-txt {
    color: var(--secondary);

}

.count-section h2 {
    color: var(--secondary);
    font-size: 50px;
    font-weight: 500;

}

/* .<!-- about-us-section ends--> */

/* .offer-section */
.offer-section p {
    color: var(--secondary);
}

.box img {
    height: 200px;
}

.box-big img {
    height: 600px;
    width: 100vw;
}

.img-grid {
    width: 100%;
    height: 100%;
}

.grid-section .row .col-md-4 {
    padding-right: 0px;
    padding-left: 0px;
}
.grid-section .row {
    --bs-gutter-x: 0rem;
}

.grid-section .row .col-md-8 {
    padding-right: 0px;
    padding-left: 0px;
}

.grid-section .container-fluid {
    --bs-gutter-x: 0px;

}

/* .offer-section ends*/

/* .testimonial-section starts */
.testimonial-section .img-top {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: -50px;
}
.testimonial-section .card{
    transition: 1.1s;
}
.testimonial-section .card:hover{
    transform: scale(1.09);
}

/* .testimonial-section ends */


/* footer-section-starts */
.footer-section {
    background-color: black;
    padding-bottom: 20px;

}

.footer-section p {
    color: rgb(126, 125, 125);
    font-size: 13px;
}

.footer-section span {
    color: var(--secondary);
}

.foot-arrow-img {
    width: 10%;
}

.input {
    width: 100%;
    position: relative;
    border: 1px solid var(--secondary);
    background-color: transparent;
    border-radius: 20px;
    padding: 2px;
    height: 35px;
}

.sub-input {
    background-color: transparent;
    border: none;

}

.input-btn {
    position: absolute;
    background-color: var(--secondary);
    color: var(--primary);
    width: 48%;
    height: 30px;
    border: none;
    border-radius: 20px;
}

.btn-ornge {
    margin-top: 100px;
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}






/* footer-section-ends */



/* responsiveness */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hm {
        display: none;
    }

    .hero-txt-main {
        font-size: 19px;
    }
    .brand-section img {
        margin-top: 15px;
        width: 70%;
        height: 100px;
    }
    .hero-section .hero-txt-main{
        font-size: 30px;
        color: rgb(44, 43, 43);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hm {
        display: none;
    }

    .hero-txt-main {
        font-size: 18px;
    }
    .btn-get{
        display: none;
    }
    .brand-section img {
        margin-top: 30px;
        width: 80%;
        height: 100px;
    }
    .hero-section .hero-txt-main{
        font-size: 35px;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .hm {
        display: block;
    }
    .btn-get{
        display: none;
    }
    

    .menu-mob {
        margin-top: -50px;
        display: none;
        text-align: right;
        color: var(--secondary);
        font-size: 27px;
        margin-left: 310px;
        padding-right: 35px;



    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .hm {
        display: block;
    }
    .btn-get{
        display: none;
    }
    .menu-mob {
        margin-top: -50px;
        display: none;
        text-align: right;
        color: var(--secondary);
        font-size: 27px;
        margin-left: 300px;
        padding-right: 30px;



    }
    .hero-section .hero-txt-main {
        font-size: 50px;
        font-weight: 400;
        line-height: 60px;
        color: var(--black);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hm {
        display: block;
    }
      .btn-get{
        display: block;
    }

    .menu-mob {
        margin-top: -50px;
        display: none;
        text-align: right;
        color: var(--secondary);
        font-size: 27px;
        margin-left: 300px;
        padding-right: 30px;



    }
    .hero-section .hero-txt-main {
        font-size: 50px;
        font-weight: 400;
        line-height: 60px;
        color: var(--black);
    }
}