*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
:root{
    --primary:white;
    --secondary:#F36C3F;
    --black:#000000

}

/* .header-section starts*/
.header-section .menu p{
    font-weight: 500;
}
.header-section .menu p:hover{
    font-weight: 500;
    color: var(--secondary);
    cursor: pointer;
}
.header-section button{
    background-color: var(--secondary);
    border: none;
    color: var(--primary);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
}


/* .header-section ends*/

/* hero-section-starts */
.hero-section .hero-txt-main{
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    color: var(--black);
}
.hero-section button{
    background-color: var(--primary);
    border-radius: 20px;
    font-size: 13px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:1px solid rgb(114, 113, 113);

}
.hero-section button:hover{
    background-color: var(--primary);
    border-radius: 20px;
    font-size: 13px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border:1px solid var(--secondary);
    color: var(--secondary);

}

/* hero-section-ends */

/* .slider-section-start */
.sider-section img{
    border-radius: 20px;
    height: 90%;
}
.carousel-indicators button{
   
    
    background-color: #F36C3F
}
.carousel-caption{
    margin-bottom: 200px;
}
.carousel-caption  button{
    background-color: transparent;
    color: var(--primary);
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 1.5s

}
.carousel-caption  button:hover{
    background-color: transparent;
    color: var(--primary);
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    transform: scale(1.1)

}

/* .slider-section-ends */